@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: rgb(221 224 229);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

.link:hover {
  color: #088178;
}

.active {
  color: #088178;
}

.banner {
  background-image: url("assets/goodlooking-carefree-bearded-man-red-tshirt-cap-uniform-employee-close-eyes-dancing-po.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.banner h4 {
  padding-bottom: 15px;
}

.banner h1 {
  color: #088178;
}

.btw__shop {
  background-image: url("assets/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 15px 90px;
  font-weight: 700;
  font-size: 20px;
}

.feature_style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature_style .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

.feature_style .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

.feature_style .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
.feature_style .fe-box h6 {
  padding: 9px 8px 6px 6px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

.feature_style .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
.feature_style .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
.feature_style .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
.feature_style .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
.feature_style .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

.product_style {
  text-align: center;
}

.product_style .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

.product_style .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

.product_style .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product_style .pro img {
  width: 100%;
  border-radius: 20px;
}

.product_style .pro .description {
  text-align: start;
  padding: 10px 0;
}

.product .pro .description span {
  color: #606063;
  font-size: 12px;
}

.product .pro .description h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.product .pro .description h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

.cart__btw {
  width: 40px;
  height: 40px;
  line-height: 10px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cee7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
